@model Post

@{

}


<article>
    <h2>@Model.Title</h2>
    <span>@Model.Author</span>
    <span>@Model.PublishDate</span>
    <img src="https://cdn.wallpapersafari.com/77/94/uLCgPh.jpg" alt="Australia">
    <p>@Model.Body</p>
</article>