@model IEnumerable<Post>

@{

}

<div class="posts-container">
@foreach(Post post in Model)
{
    <section>
        <h2>@Html.ActionLink(post.Title, "Detail", new {id = post.Id})</h2>
        <span>@post.PublishDate</span><br>
        <span>@post.Author</span><br>
        <a href="/Post/Edit/@post.Id">Edit</a>
        <p>@post.Body</p>
    </section>
    

}
</div>