@model IEnumerable<Category>

@{

}


<section class="category-list">@foreach(Category ctg in Model)
    {
       <h2>@Html.ActionLink(ctg.Name,"ChosenIndex", "Post", new {categoryId = ctg.Id})</h2>
    }
    <h2>@Html.ActionLink("Add a new Category","Create")</h2>
</section>